<h2>Resetowanie hasła</h2>

<div *ngIf="!tokenSent">
  <label for="email">Twój e-mail:</label>
  <input id="email" [(ngModel)]="email" name="email" required>
  <button (click)="sendToken()">Wyślij token</button>
</div>

<div *ngIf="tokenSent">
  <label for="token">Token:</label>
  <input id="token" [(ngModel)]="token" name="token" required>

  <label for="newPassword">Nowe hasło:</label>
  <input id="newPassword" type="password" [(ngModel)]="newPassword" name="newPassword" required>

  <button (click)="resetPassword()">Zmień hasło</button>
</div>
