<app-navbar></app-navbar>

<div class="container mt-4">
  <div *ngFor="let offer of travelOffers; let i = index" class="travel-offer-card" style="margin-bottom: 20px;">
    <a routerLink="/travelOffers/{{ offer.id }}">
      <swiper-container [attr.id]="'swiper-container-' + i"
        style="width: 500px; height: auto; display: block; margin-bottom: 8px;">
        <swiper-slide *ngFor="let img of offer.travelOfferImages">
          <img [src]="getImageSrc(img.imageData)" [alt]="offer.title" style="width: 100%; height: auto;" />
        </swiper-slide>
      </swiper-container>
      <h3>{{ offer.title }}</h3>
    </a>
  </div>
</div>